<a href="https://colab.research.google.com/github/Kanoriian/iskustvenii_intelegent/blob/main/Lubiteli_tablic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#импортируем pandas и будем использовать как pd

In [4]:
#pd.read_csv() - считать новый датасет
df = pd.read_csv("results.csv")

In [28]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44929,2023-09-12,Belgium,Estonia,5,0,UEFA Euro qualification,Brussels,Belgium,False
44930,2023-09-12,Sweden,Austria,1,3,UEFA Euro qualification,Stockholm,Sweden,False
44931,2023-09-12,Switzerland,Andorra,3,0,UEFA Euro qualification,Sion,Switzerland,False
44932,2023-09-12,Israel,Belarus,1,0,UEFA Euro qualification,Tel Aviv,Israel,False
44933,2023-09-12,Romania,Kosovo,2,0,UEFA Euro qualification,Bucharest,Romania,False

In [ ]:
df.iloc[1]["away_team"]
#iloc - позволяет вывести по номеру

In [19]:
#.shape - возвращает картеж из числа строк и столбцов у df
#.columns - возвращат коллекцию с названиями колонок
#.info() - базовая информация о всех строках в датасете

In [32]:
df.shape

(44934, 9)

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
#df.head - выводит первые n строк
df.head(5)

In [23]:
#импорт библиотеки
import matplotlib.pyplot as plt

%matplotlib inline
#обязательная строка шоб работало в Google Colab

In [ ]:
ax = df.away_score.hist()#построить график
ax

ax.set_title("голы")#заголовок графика
ax.set_ylabel("кол-во игр")# надпись по оси у
ax.set_xlabel("кол-во голов")# надпись по оси х

In [37]:
kol = 0
for i in range(0,44934):
  per1 = df.iloc[i]["home_team"]
  if per1 == "Scotland":
    if df.iloc[i]["home_score"] > df.iloc[i]["away_score"]:
      kol += 1
print(kol)

227

In [ ]:
#data - переменная которая содержит колонку данных Series - тип данных, который сохраняет данные в виде столбца
data = pd.Series(["январь", "февраль", "Апрель"]), index = ['первый', 'второй', 'третий']
#добавить свой индекс

In [ ]:
data['первый']
#получить значение по индексом " "